* { box-sizing: border-box; }

.item {
  float: left;
   border: thin solid red;
}

#menu {
  border: thin solid black;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem { border: thin solid green; }

.submenu { display: none;}

.item:hover .submenu {
    display: block;
    position: absolute;
    width: auto;
}
* {
  box-sizing: border-box;
  border: thin solid black;
}


#left-side {
  width: 33.33333%;
  float: left;
}

#right-side {
  width: 66.66666%;
  float: left;
}

.card {
  width: 45%;
  border: thin solid #dadada;
  float: left;
  margin: 2.5%;
}

.card img {
  width: 90%;
  text-align: center;
}

.card button {
  float: right;
  padding: 5%;
  margin: 5%;

}
